.button {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  border: none;
  padding: 30px 40px;
  width: 100%;
  max-width: 250px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: var(--bg-button);
  transition: background-color 0.1s;
  color: var(--c-text-button);

  &:hover,
  &:focus-within,
  &:active {
    background-color: var(--bg-button-hover);
  }


  @media (max-width: 1023px) {
    padding: 19px 40px;
    max-width: 250px;
    font-size: 10px;
    font-weight: 500;
  }

  @media (max-width: 767px) {
    max-width: 288px;
  }

  &--promo {
    max-width: 340px;
  }

  &--rates {
    max-width: 310px;

    @media (max-width: 1023px) {
      max-width: 288px;
    }
  }

  &--main-form {
    @media (min-width: 1024px) {
      padding-top: 18px;
      padding-bottom: 17px;
      max-width: 176px;
    }

    @media (max-width: 1023px) {
      padding-top: 19px;
      padding-bottom: 19px;
      // max-width: 250px;
    }
  }

  @media (max-width: 767px) {
    // max-width: 288px;
  }
}
