.button {
  box-sizing: border-box;
  border: none;
  padding: 30px 40px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--bg-button);
  transition: background-color 0.1s;
  color: var(--c-text-button);

  &:hover,
  &:focus-within,
  &:active {
    background-color: var(--bg-button-hover);
  }
}
