.icon {
  position: relative;
}

.icon::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  mask-size: cover;
  mask-position: center;
  mask-repeat: no-repeat;
  --icon-color: var(--c-text-primary);
  background-color: var(--icon-color);
  transition: background-color 0.1s;
}
