.logo img {
  width: 57px;
  height: 22px;
  vertical-align: middle;

  @media (max-width: 1023px) {
    width: 44px;
    height: 17px;
  }
}

.no-js .logo {
  @media (max-width: 1023px) {
    margin-left: 21px;
  }

  @media (max-width: 767px) {
    margin-left: 16px;
  }
}
