.main-nav {
  justify-self: end;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--bg-basic);

  @media (max-width: 1023px) {
    position: absolute;
    background-color: var(--bg-basic);
    top: 100%;
    display: grid;
    align-content: start;
    max-width: 320px;
    width: 100%;
    min-height: 568px;

    &--closed {
      display: none;
    }
  }
}

.main-nav__control {
  position: relative;
  width: 72px;
  height: 50px;
  padding: 0;
  border: none;
  background-color: var(--bg-button);

  &--hidden {
    visibility: hidden;
  }

  &::before {
    transform: translate(-50%, -50%);
    width: 28px;
    height: 15px;
    --icon-color: var(--bg-basic);
    mask-image: url("../../img/stack.svg#menu");
  }

  &--close {
    background-color: var(--bg-basic);

    &::before {
      --icon-color: var(--c-text-secondary);
      mask-image: url("../../img/stack.svg#close-menu");
    }
  }

  @media (max-width: 1023px) {
    display: initial;
    justify-self: end;
  }

  @media (max-width: 320px) {
    width: 50px;
    height: 50px;
  }
}

.main-nav__links {
  padding-left: 0;
  list-style-type: none;

  @media (max-width: 1023px) {
    display: grid;
    row-gap: 30px;
  }
}

.main-nav__link {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  color: var(--c-text-secondary);
  transition: color 0.1s;

  &:not(:first-child) {
    margin-left: 35px;
  }

  &:hover,
  &:focus {
    color: var(--c-text-hover);
  }

  @media (max-width: 1023px) {
    padding: 17px 16px;
    font-size: 20px;
    line-height: 140%;
    background-color: var(--bg-nav-link);

    &:not(:first-child) {
      margin-left: 0;
    }

    &--arrow {
      &:hover::before,
      &:focus::before {
        --icon-color: currentColor;
      }

      &::before {
        right: 25px;
        width: 7px;
        height: 12px;
        --icon-color: var(--c-text-primary);
        mask-image: url("../../img/stack.svg#arrow-gt");
      }
    }
  }

  &--phone {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.77;
    text-decoration: underline;

    &::before {
      left: -40px;
      width: 30px;
      height: 30px;
      --icon-color: currentColor;
      mask-image: url("../../img/stack.svg#phone");
    }

    @media (max-width: 1023px) {
      display: none;
    }
  }
}

.main-nav__link + .main-nav__link--phone {
  margin-left: 108px;
}

.main-nav__link a {
  text-decoration: none;
  color: currentColor;
}

.no-js .main-nav {
  @media (max-width: 1023px) {
    position: static;
    display: initial;
    grid-column: 1 / -1;
    max-width: 100%;
    min-height: auto;
  }
}

.no-js .main-nav__links {
  @media (max-width: 1023px) {
    display: block;
  }
}

.no-js .main-nav__link:not(.main-nav__link--phone) {
  display: inline-block;
}
