.main-form {
  display: grid;
  justify-items: center;
  align-content: start;
  padding: 50px;
  max-width: 656px;
  min-height: 315px;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  color: var(--c-text-secondary);
  background-color: var(--bg-basic);

  @media (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 55px;
    padding-left: 16px;
    padding-right: 16px;
    min-height: auto;
    text-align: center;
    background-color: transparent;
  }
}

.main-form__form {
  display: grid;
  grid-template-columns: minmax(269px, 1fr) minmax(269px, 1fr);
  column-gap: 19px;
  row-gap: 25px;
  margin-top: 22px;

  @media (max-width: 1023px) {
    row-gap: 20px;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    margin-top: 19px;
    width: 100%;
  }
}

.main-form__title {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.28;
}

.main-form__text {
  margin-top: 11px;
  font-size: 16px;
  line-height: 150%;

  @media (max-width: 767px) {
    margin-top: 19px;
  }
}

.main-form__button {
  grid-column: 1 / -1;
  justify-self: center;
}

.main-form__form input {
  box-sizing: border-box;
  padding-right: 15px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  font-size: 14px;
  border: 1px solid var(--bd-form-input);

  &::placeholder {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--c-text-secondary);
  }
}

.main-form__email {
  padding-left: 15px;
}

.main-form__phone {
  padding-left: 26px;
}
