.page-form {
  padding-top: 7.3%;
}

.page-form__wrapper {
  display: grid;
  align-items: center;
  justify-content: end;
  min-height: 455px;
  background: url("../../img/form/page-form-bg.jpg");
  background-repeat: no-repeat;
}
