.places-card {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: end;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  color: var(--c-text-primary);

  &:focus {
    outline: none;
  }

  &:hover .places-card__overlay::after,
  &:focus .places-card__overlay::after {
    height: 100%;
    opacity: 1;
  }

  &:hover .places-card__more,
  &:focus .places-card__more {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.places-card__overlay {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 0;
    background: var(--bg-card-hover);
    transition-property: height, opacity;
    transition-duration: 0.08s, 0.08s;
    transition-timing-function: linear, linear;
    opacity: 0;
    pointer-events: none;
  }
}

.places-card__more {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  box-sizing: border-box;
  transform: translate(-50%, -100%);
  padding: 30px 25px;
  width: 100%;
  max-width: 266px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: var(--c-text-card-more);
  border: 1px solid var(--bd-card-more);
  transition-property: transform, opacity;
  transition-duration: 0.1s, 0.1s;
  transition-timing-function: linear, linear;
  opacity: 0;
}

.places-card img {
  height: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.places-card__country {
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  margin-bottom: -1px;
  width: calc(100% - 20px);
  max-width: 215px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  letter-spacing: -0.41px;
  background-color: var(--bg-basic);
}
