.places {
  padding-top: 200px;

  @media (max-width: 1023px) {
    padding-top: 80px;
  }
}

.places h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 55px;
  font-weight: 600;
  line-height: 1.45;
  letter-spacing: -1.25px;
  color: var(--c-text-title);

  &::after {
    content: "";
    display: block;
    margin-top: 31px;
    width: 228px;
    height: 4px;
    background: var(--bg-button);

    @media (max-width: 1023px) {
      display: none;
    }
  }

  @media (max-width: 1023px) {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: normal;
    text-align: center;
  }

  @media (max-width: 767px) {
    font-size: 24px;
  }
}

.places .line-break {
  @media (max-width: 1023px) {
    display: none;
  }
}

.places__footnote {
  max-width: 328px;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: -0.47px;
  color: var(--c-text-primary);

  @media (max-width: 1023px) {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
