.promo {
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
}

.promo::before {
  content: "";
  display: block;
  box-sizing: border-box;
  grid-row: 1;
  grid-column: 1 / -1;
  min-height: 860px;
  background-image: url("../../img/promo/promo-desktop.jpg");
  background-color: var(--bg-promo);

  @media (max-width: 1023px) {
    min-height: 344px;
    background-image: url("../../img/promo/promo-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }

  @media (max-width: 767px) {
    min-height: 235px;
    background-position-x: 51%;
  }
}

.promo__wrapper {
  display: grid;
  grid-row: 1;
  grid-column: 1 / -1;
  justify-self: end;
  width: 100%;

  @media (max-width: 1023px) {
    justify-content: center;
  }

  @media (max-width: 767px) {
    display: contents;
  }
}

.promo__item {
  justify-self: end;
  max-width: 412px;
  margin-top: 185px;
  margin-right: 58px;

  @media (max-width: 1023px) {
    margin-top: 0;
    margin-right: 0;
    text-align: center;
  }

  @media (max-width: 767px) {
    display: contents;
  }
}

.promo__item-wrapper {
  padding: 0;

  @media (max-width: 767px) {
    margin-top: 20px;
    padding: 0 16px;
  }
}

.promo h1 {
  margin-top: 0;
  margin-bottom: 31px;
  font-size: 55px;
  font-weight: 600;
  line-height: 1.45;
  letter-spacing: -1.11px;
  color: var(--c-text-promo);

  @media (max-width: 1023px) {
    margin-top: 60px;
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: normal;
  }

  @media (max-width: 767px) {
    grid-row: 1;
    grid-column: 1 / -1;
    max-width: 300px;
    margin-top: 81px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
  }
}

.promo p {
  max-width: 376px;
  line-height: 170%;
  letter-spacing: -0.47px;
  color: var(--c-text-promo);

  @media (max-width: 1023px) {
    max-width: 400px;
    margin: 0 auto;
  }

  @media (max-width: 767px) {
    color: var(--c-text-primary);
  }
}

.promo__button {
  display: inline-block;
  vertical-align: middle;
  margin-top: 16px;
  max-width: 340px;
  text-align-last: left;

  &::before {
    right: 40px;
    width: 14px;
    height: 14px;
    --icon-color: currentColor;
    mask-image: url("../../img/stack.svg#arrow-btn");
  }

  @media (max-width: 1023px) {
    margin-top: 9px;
    max-width: 250px;
  }

  @media (max-width: 767px) {
    margin-top: 20px;
    max-width: 288px;
  }
}
