.review {
  box-sizing: border-box;
  padding: 30px;
  max-width: 382px;
  background: var(--bg-basic);
}

.review h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -0.69px;
  color: var(--c-text-title);

  &::after {
    content: "";
    display: block;
    margin-top: 11px;
    width: 68px;
    height: 1px;
    background: var(--bg-button);
  }
}

.review__text {
  font-size: 14px;
  line-height: 2;
  letter-spacing: -0.41px;
}

.review__author-info {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.review__author-photo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
}

.review__author-name {
  font-weight: 500;
  letter-spacing: -0.47px;
  color: var(--c-text-title);
}
