:root {
  // Common
  --bg-basic: hsla(0 0% 100% / 1);
  --bg-nav-link: hsla(345 27% 98% / 1);
  --bg-button: hsla(7 99% 70% / 1);
  --bg-button-hover: hsla(18 86% 62% / 1);
  --c-text-primary: hsla(234 18% 21% / 0.7);
  --c-text-secondary: hsla(234 8% 9% / 1);
  --c-text-button: hsla(0 0% 100% / 1);
  --c-text-title: hsla(234 18% 21% / 1);
  --c-link-hover: hsla(7deg 99% 70% / 1);

  // Promo
  --bg-promo: hsla(206 31% 48% / 1);
  --c-text-promo: hsla(0 0% 100% / 1);

  // Places
  --bg-card-hover: hsla(234 8% 9% / 0.6);
  --bd-card-more: hsla(0 0% 100% / 7);
  --c-text-card-more: hsla(0 0% 100% / 1);

  // Tabs
  --c-tabs-titles-link: hsla(234 8% 9% / 0.3);

  // Rates
  --bd-rates-card: hsla(234 18% 21% / 0.3);
  --c-rates-card-header: hsla(234 8% 9% / 0.7);

  // Page form
  --bd-form-input: hsla(234 18% 21% / 0.3);
  // Footer
  --c-text-footer: hsla(234 8% 9% / 0.5);
  --c-footer-link: hsla(7deg 99% 70% / 0.7);
  --c-footer-icon: hsla(225 11% 86% / 1);
}
