:root {
  --bg-basic: hsl(0 0% 100%);
  --bg-nav-link: hsla(345 27% 98% / 1);
  --bg-button: hsla(7 99% 70% / 1);
  --c-text-primary: hsla(234 18% 21% / 0.7);
  --c-text-secondary: hsla(234 8% 9% / 1);
  --c-text-secondary-50: hsla(234 8% 9% / 0.5);
  --c-text-hover: hsla(7deg 99% 70% / 1);
  --c-footer-link: hsla(7deg 99% 70% / 0.7);
  --c-footer-icon: hsla(225 11% 86% / 1);
}
